{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Campeones{% endblock %}
{% block section_title %}Lista de campeones del vacio{% endblock %}
{% block content %}
	{% include 'includes/section_title.html' with tipo='primario' titulo='Lista de campeones del Vacío' %}
	{% for campeon in campeones %}
		{% include 'includes/tarjeta_de_campeon.html' %}
	{% endfor %}
{% endblock %}
{% block css_files %}
	<link rel="stylesheet" href="{% static 'css/campeones.css' %}">
	<link rel="stylesheet" href="{% static 'css/tarjeta_de_campeon.css' %}">
{% endblock %}