#campeon-article {
	border: 1px solid rgb(30, 30, 30);
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 404px;
	width: 670px;
	position: relative;
	/* Gradient */
	background: rgb(45,45,45);
	background: -moz-linear-gradient(top, rgba(45,45,45,1) 0%, rgba(40,40,40,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(45,45,45,1)), color-stop(100%,rgba(40,40,40,1)));
	background: -webkit-linear-gradient(top, rgba(45,45,45,1) 0%,rgba(40,40,40,1) 100%);
	background: -o-linear-gradient(top, rgba(45,45,45,1) 0%,rgba(40,40,40,1) 100%);
	background: -ms-linear-gradient(top, rgba(45,45,45,1) 0%,rgba(40,40,40,1) 100%);
	background: linear-gradient(to bottom, rgba(45,45,45,1) 0%,rgba(40,40,40,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#282828',GradientType=0 );
}

#campeon-contenido {
	background-color: rgb(75, 75, 75);
	bottom: 10px;
	border: 1px solid rgb(30, 30, 30);
	left: 10px;
	position: absolute;
	right: 10px;
	top: 10px;
}

#campeon-contenido img {
	height: 382px;
	width: 648px;
}

#campeon-boton-datos {
	border: 1px solid rgb(30, 30, 30);
	border-radius: 2.5px;
	color: rgb(205, 205, 205);
	cursor: default;
	display: inline-block;
	font-size: 17.5px;
	height: 28px;
	line-height: 28px;
	position: absolute;
	right: 12.5px;
	text-align: center;
	text-shadow: 0px 0px 2.5px rgba(0, 0, 0, 1);
	top: 12.5px;
	width: 125px;
	/* Gradient */
	background: rgb(45,45,45);
	background: -moz-radial-gradient(center, ellipse cover, rgba(45,45,45,1) 0%, rgba(40,40,40,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(45,45,45,1)), color-stop(100%,rgba(40,40,40,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(45,45,45,1) 0%,rgba(40,40,40,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(45,45,45,1) 0%,rgba(40,40,40,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(45,45,45,1) 0%,rgba(40,40,40,1) 100%);
	background: radial-gradient(ellipse at center, rgba(45,45,45,1) 0%,rgba(40,40,40,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#282828',GradientType=1 );
}

.activado:hover {
	cursor: pointer !important;
	/* Gradient */
	background: rgb(55,55,55) !important;
	background: -moz-radial-gradient(center, ellipse cover, rgba(55,55,55,1) 0%, rgba(50,50,50,1) 100%) !important;
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(55,55,55,1)), color-stop(100%,rgba(50,50,50,1))) !important;
	background: -webkit-radial-gradient(center, ellipse cover, rgba(55,55,55,1) 0%,rgba(50,50,50,1) 100%) !important;
	background: -o-radial-gradient(center, ellipse cover, rgba(55,55,55,1) 0%,rgba(50,50,50,1) 100%) !important;
	background: -ms-radial-gradient(center, ellipse cover, rgba(55,55,55,1) 0%,rgba(50,50,50,1) 100%) !important;
	background: radial-gradient(ellipse at center, rgba(55,55,55,1) 0%,rgba(50,50,50,1) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373737', endColorstr='#323232',GradientType=1 ) !important;
}

#campeon-nombre {
	bottom: 0;
	color: rgb(205, 205, 205);
	font-size: 17.5px;
	left: 0;
	margin-bottom: 32.5px;
	position: absolute;
	right: 0;
	text-align: center;
	text-shadow: 0px 0px 2.5px rgba(0, 0, 0, 1);
}

#campeon-descripcion {
	bottom: 0;
	color: rgb(205, 205, 205);
	font-size: 15px;
	left: 0;
	margin-bottom: 12.5px;
	position: absolute;
	right: 0;
	text-align: center;
	text-shadow: 0px 0px 2.5px rgba(0, 0, 0, 1);
}

#campeon-noHayDatos {
	border: 1px solid rgb(30, 30, 30);
	color: rgb(205, 205, 205);
	font-size: 17.5px;
	height: 50px;
	line-height: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	text-shadow: 0px 0px 2.5px rgba(0, 0, 0, 1);
	width: 670px;
	/* Gradient */
	background: rgb(45,45,45);
	background: -moz-linear-gradient(top, rgba(45,45,45,1) 0%, rgba(40,40,40,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(45,45,45,1)), color-stop(100%,rgba(40,40,40,1)));
	background: -webkit-linear-gradient(top, rgba(45,45,45,1) 0%,rgba(40,40,40,1) 100%);
	background: -o-linear-gradient(top, rgba(45,45,45,1) 0%,rgba(40,40,40,1) 100%);
	background: -ms-linear-gradient(top, rgba(45,45,45,1) 0%,rgba(40,40,40,1) 100%);
	background: linear-gradient(to bottom, rgba(45,45,45,1) 0%,rgba(40,40,40,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#282828',GradientType=0 );
}

#campeon-nav {
	border: 1px solid rgb(30, 30, 30);
	height: 39px;
	margin-left: auto;
	margin-right: auto;
	width: 670px;
	/* Gradient */
	background: rgb(45,45,45);
	background: -moz-linear-gradient(top, rgba(45,45,45,1) 0%, rgba(40,40,40,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(45,45,45,1)), color-stop(100%,rgba(40,40,40,1)));
	background: -webkit-linear-gradient(top, rgba(45,45,45,1) 0%,rgba(40,40,40,1) 100%);
	background: -o-linear-gradient(top, rgba(45,45,45,1) 0%,rgba(40,40,40,1) 100%);
	background: -ms-linear-gradient(top, rgba(45,45,45,1) 0%,rgba(40,40,40,1) 100%);
	background: linear-gradient(to bottom, rgba(45,45,45,1) 0%,rgba(40,40,40,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#282828',GradientType=0 );
}

.nav-option {
	border-bottom: 1px solid rgb(30, 30, 30);
	border-left: 1px solid rgb(30, 30, 30);
	border-right: 1px solid rgb(30, 30, 30);
	color: rgb(205, 205, 205);
	float: left;
	font-size: 17.5px;
	height: 28px;
	line-height: 28px;
	margin-left: 10px;
	text-align: center;
	text-shadow: 0px 0px 2.5px rgba(0, 0, 0, 1);
	width: 125px;
	/* Gradient */
	background: rgb(45,45,45);
	background: -moz-radial-gradient(center, ellipse cover, rgba(45,45,45,1) 0%, rgba(40,40,40,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(45,45,45,1)), color-stop(100%,rgba(40,40,40,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(45,45,45,1) 0%,rgba(40,40,40,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(45,45,45,1) 0%,rgba(40,40,40,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(45,45,45,1) 0%,rgba(40,40,40,1) 100%);
	background: radial-gradient(ellipse at center, rgba(45,45,45,1) 0%,rgba(40,40,40,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#282828',GradientType=1 );
}

.nav-option:hover {
	cursor: pointer;
	/* Gradient */
	background: rgb(55,55,55);
	background: -moz-radial-gradient(center, ellipse cover, rgba(55,55,55,1) 0%, rgba(50,50,50,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(55,55,55,1)), color-stop(100%,rgba(50,50,50,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(55,55,55,1) 0%,rgba(50,50,50,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(55,55,55,1) 0%,rgba(50,50,50,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(55,55,55,1) 0%,rgba(50,50,50,1) 100%);
	background: radial-gradient(ellipse at center, rgba(55,55,55,1) 0%,rgba(50,50,50,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373737', endColorstr='#323232',GradientType=1 );
}

.selected {
	border-bottom: 1px solid rgb(30, 30, 30);
	border-left: 1px solid rgb(30, 30, 30);
	border-right: 1px solid rgb(30, 30, 30);
	color: rgb(205, 205, 205);
	cursor: default;
	float: left;
	font-size: 17.5px;
	height: 28px;
	line-height: 28px;
	margin-left: 10px;
	text-align: center;
	text-shadow: 0px 0px 2.5px rgba(0, 0, 0, 1);
	width: 125px;
	/* Gradient */
	background: rgb(55,55,55);
	background: -moz-radial-gradient(center, ellipse cover, rgba(55,55,55,1) 0%, rgba(50,50,50,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(55,55,55,1)), color-stop(100%,rgba(50,50,50,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(55,55,55,1) 0%,rgba(50,50,50,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(55,55,55,1) 0%,rgba(50,50,50,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(55,55,55,1) 0%,rgba(50,50,50,1) 100%);
	background: radial-gradient(ellipse at center, rgba(55,55,55,1) 0%,rgba(50,50,50,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373737', endColorstr='#323232',GradientType=1 );
}

.campeon-datos-contenido {
	border-bottom: 1px solid rgb(30, 30, 30);
	border-left: 1px solid rgb(30, 30, 30);
	border-right: 1px solid rgb(30, 30, 30);
	color: rgb(205, 205, 205);
	display: none;
	font-size: 12.5px;
	line-height: 17.5px;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 0px 0px 2.5px rgba(0, 0, 0, 1);
	width: 670px;
	/* Gradient */
	background: rgb(60,60,60);
	background: -moz-linear-gradient(top, rgba(60,60,60,1) 0%, rgba(65,65,65,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(60,60,60,1)), color-stop(100%,rgba(65,65,65,1)));
	background: -webkit-linear-gradient(top, rgba(60,60,60,1) 0%,rgba(65,65,65,1) 100%);
	background: -o-linear-gradient(top, rgba(60,60,60,1) 0%,rgba(65,65,65,1) 100%);
	background: -ms-linear-gradient(top, rgba(60,60,60,1) 0%,rgba(65,65,65,1) 100%);
	background: linear-gradient(to bottom, rgba(60,60,60,1) 0%,rgba(65,65,65,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#414141',GradientType=0 );
}

.campeon-datos-padding {
	padding: 10px;
}